In [1]:
%matplotlib inline  
import numpy as np
import pandas as pd
from pylab import *
import os
from Txt2DataFrame import *

In [2]:
main_dir= "../Study_03_CBA/"

In [3]:
TE=np.linspace(10,120,12)

In [4]:
# Create List of T2 MSME data
file_name=list()
for file in os.listdir(main_dir):
    if file.endswith("T2.txt"):
        file_name.append(file)

In [5]:
# Process each T2 file
for file_name in file_name:
    df=Txt2DataFrame(main_dir,file_name,12)

In [ ]:
my_list_T2[0]

In [ ]:
     
        data_frame["Mouse"]=file_name.split("_")[1][1]
        data_frame["Slice"]=file_name.split("_")[2][1]
        data_frame["Year"]=file_name.split("_")[3]
        data_frame["Day"]=float(file_name.split("_")[4])
        data_frame["Month"]=float(file_name.split("_")[5])
        my_list.append(data_frame)

In [ ]:
# Convert .txt to frame
file_name = "Goldenberg_M5_S5_2017_1_6_T2.txt"
data_frame=Txt2DataFrame(main_dir,file_name)

In [ ]:
# Echo Time
data_frame["EchoTimeMsec"]=TE
# Allocate new columns based on file heading
data_frame["Mouse"]=file_name.split("_")[1][1]
data_frame["Slice"]=file_name.split("_")[2][1]
data_frame["Year"]=file_name.split("_")[3]
data_frame["Month"]=float(file_name.split("_")[4])
data_frame["Day"]=float(file_name.split("_")[5])

data_frame.head(2)

In [ ]:
data_frame.to_csv("Hola.csv")

In [ ]:
df1=data_frame

In [ ]:
plot(TE,df1.ROI_1.values)

In [ ]:
file_name = "Goldenberg_M3_S2_2017_1_4_T2.txt"
data_frame=Txt2Csv(main_dir,file_name)
# Echo Time
data_frame["EchoTimeMsec"]=TE
# Allocate new columns based on file heading
data_frame["Mouse"]=file_name.split("_")[1][1]
data_frame["Slice"]=file_name.split("_")[2][1]
data_frame["Year"]=file_name.split("_")[3]
data_frame["Month"]=float(file_name.split("_")[4])
data_frame["Day"]=float(file_name.split("_")[5])

data_frame.head(2)

In [ ]:
df2=data_frame

In [ ]:
DF=pd.concat([df1,df2], axis=0, ignore_index=False)

In [ ]:
DF.head(2)

In [ ]:
DF.tail(2)

In [ ]:
s=DF.ROI_1.values
plot(TE,np.reshape(s,(12,2)))

In [ ]:
DF.transpose()