In [1]:
%matplotlib inline  
import numpy as np
import pandas as pd
from pylab import *

In [2]:
f1 = open("test_file_T2.txt",'r')
# Read all lines
all_lines = f1.readlines()
f1.close()
# Select from Fourht line to the end
first_row_with_data = 3
all_lines=all_lines[first_row_with_data:]
    # Calculate number of rows
num_rows=len(all_lines)
f1.close()

In [3]:
num_cols = len( all_lines[0].split()[1::3] )

In [4]:
np_array=np.zeros( (num_rows,num_cols) )

In [5]:
for i in range(num_rows):
    l=all_lines[i].split()[1::3]
    np_array[i,:]=array(l)

array([[ 403924.,  325107.,  308338.,  329587.],
       [ 343599.,  252255.,  239604.,  261227.],
       [ 249038.,  154254.,  147278.,  169753.],
       [ 218125.,  117863.,  116016.,  137389.],
       [ 163899.,   75056.,   78981.,   94194.],
       [ 148122.,   58157.,   58724.,   81016.],
       [ 120467.,   38547.,   43144.,   60438.],
       [ 108482.,   33081.,   34666.,   53159.],
       [  94071.,   22922.,   25344.,   40443.],
       [  83941.,   19484.,   22794.,   34486.],
       [  73680.,   15800.,   18995.,   31664.],
       [  63178.,   14986.,   19109.,   28788.]])

In [17]:
# Define Column Names
column_names=list()
for i in range(num_cols):
    column_names.append( "ROI_"+str(i+1))

In [19]:
df=pd.DataFrame(np_array,columns=column_names)

In [20]:
df

       ROI_1     ROI_2     ROI_3     ROI_4
0   403924.0  325107.0  308338.0  329587.0
1   343599.0  252255.0  239604.0  261227.0
2   249038.0  154254.0  147278.0  169753.0
3   218125.0  117863.0  116016.0  137389.0
4   163899.0   75056.0   78981.0   94194.0
5   148122.0   58157.0   58724.0   81016.0
6   120467.0   38547.0   43144.0   60438.0
7   108482.0   33081.0   34666.0   53159.0
8    94071.0   22922.0   25344.0   40443.0
9    83941.0   19484.0   22794.0   34486.0
10   73680.0   15800.0   18995.0   31664.0
11   63178.0   14986.0   19109.0   28788.0